<div class="row animate fadeIn fast">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

            <input 
              (keyup)="searchMedicoByTerm(texTerm.value)"
              type="text" 
              class="form-control" 
              placeholder="Buscar Medico..." 
              #texTerm/>

          </div>
      </div>
  </div>
</div>

<div class="row animate fadeIn fast" *ngIf="error">
  <div class="col-12">
      <div class="alert alert-danger text-center" >
        <h4 class="alert-heading"> Error!!</h4>
        <i class="fa fa-exclamation-triangle" ></i>
        <p class="mb-0" >{{ error }}</p>
      </div>
  </div>
</div>

<div class="row animate fadeIn fast" *ngIf="loading">
  <div class="col-12">
      <div class="alert alert-info text-center" >
        <h4 class="alert-heading"> Cargando...</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0" >Por favor espere</p>
      </div>
  </div>
</div>

<div class="row" *ngIf="!loading && !error">
  <div class="col-12">
    <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-8">
              <h4 class="card-title">Medicos</h4>
              <h6 class="card-subtitle">Medicos registrados en la aplicacion</h6>
            </div>
              
              <div class="col">
                <div class="text-right">
                  <a routerLink="/dashboard/medico/new-medico" class="btn btn-primary" >
                    <i class="fa fa-hospital-o"></i>
                      Crear Medico
                  </a>
                </div>
              </div>
          </div>

            <div class="table-responsive">
                <table class="table table-bordered" *ngFor="let medico of medicos">
                    <thead>
                        <tr>
                            <th class="w100">Foto</th>
                            <th>Nombre</th>
                            <th class="w100 text-nowrap text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                              <img
                                style="max-width: 100%; max-height: 100%; cursor:pointer"
                                [src]="medico?.img | imgPipe "
                                [alt]="medico.name"
                                (click)="openModal( medico )"  />
                            </td>
                            <td>{{medico.name}}</td>
                            <td class="text-nowrap text-center">

                                <a
                                    [routerLink]="['/dashboard/medico', medico._id]"
                                    data-toggle="tooltip"
                                    data-original-title="Editar">
                                  <i class="fa fa-pencil text-inverse m-r-10"></i>

                                </a>
                                <a 
                                  style="cursor:pointer"
                                  (click)="deleteMedico(medico)" 
                                  data-toggle="tooltip" 
                                  data-original-title="Borrar"> 
                                  <i class="fa fa-close text-danger"></i> 
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

<!--             <div style="display: flex; justify-content: space-between">
              <button class="btn btn-secondary">Siguientes</button>
              <button class="btn btn-secondary">Anteriores</button>
            </div> -->
        </div>
      </div>
    </div>
</div> 